<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{/layout/index :: dynamic(~{::main})}">

<body>
	<main>
		<div class="panel panel-primary" th:fragment="shopping_cart">
			<div class="panel-heading" th:text="#{nav.SHOPPINGCART}">GIỎ HÀNG MUA SẮM</div>
			<table class="table">
				<thead>
					<tr>
						<th th:text="#{nav.idcart}">Id</th>
						<th th:text="#{nav.name}">TÊN</th>
						<th th:text="#{nav.price}">GIÁ</th>
						<th th:text="#{nav.Quantity}">SỐ LƯỢNG</th>
						<th th:text="#{nav.amount}">TỔNG TIỀN</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="item in cart.items">
						<td>{{item.id}}</td>
						<td>{{item.name}}</td>
						<td>{{item.price | number : 2}}</td>
						<td><input ng-change="cart.saveToLocalStorage()" ng-model="item.qty" type="number" min="1"
							style="width: 100px"></td>
						<td>${{item.qty*item.price | number : 2 }}</td>
						<td>
							<button ng-click="cart.remove(item.id)"
								class="btn btn-sm btn-danger">
								<i class="glyphicon glyphicon-trash"></i>
							</button>
						</td>
					</tr>
				</tbody>
			</table>
			<div class="panel-footer">
				<button ng-click="cart.clear()" class="btn btn-danger">
					<i class="glyphicon glyphicon-trash" th:text="#{nav.clear}"> Xóa sạch</i> 
				</button>
				<a th:href="@{/order/checkout}" class="btn btn-primary"> <i
					class="glyphicon glyphicon-hand-right" th:text="#{nav.checkout} "> Thanh toán</i>
				</a>
			</div>
		</div>
	</main>
</body>
</html>