<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{/layout/index :: dynamic(~{::main})}">
<body>
	<main>
		<div class="container">
			<article class="col-sm-9">
				<div class="panel panel-default">
					<div class="panel-heading"
						style="background-color: blue; color: white;">
						<div class="panel-title">
							<span class="glyphicon glyphicon-edit"></span> Giới Thiệu chung
						</div>
					</div>
					<hr />
					<div class="panel-body">
						<form>
							<img alt="" src="/assets/images/1001.jpg"
								style="width: 100%; height: 420px">
							<hr>
							<li>1. Thời trang giúp bạn thể hiện chính mình Thời trang
								cho ta thấy được cá tính, phong cách của mỗi cá nhân thông qua
								việc lựa chọn kiểu dáng trang phục cũng như cách phối đồ. Dù
								rằng, bạn có ý thức được điều này hay không..</li>
							<li>2. Thời trang là sự tôn trọng đối với bản thân và người
								khác Bạn làm đẹp cho chính mình là cách thể hiện tốt nhất cho
								thấy "bạn biết yêu thương bản thân và tôn trọng mình". Bạn để
								người khác được chiêm ngưỡng bạn, được ngắm nhìn bạn một cách
								đẹp nhất cũng là thể hiện được sự tôn trọng đối với người bạn
								gặp gỡ.</li>
							<li>3. Thời trang giúp bạn tự tin Bạn có thân hình gầy gò,
								nước da ngăm đen hay có khuôn mặt không được ưng ý nhưng thời
								trang có thể giúp bạn che đi những khuyết điểm nhỏ nhặt ấy. Nó
								tôn lên những vẻ đẹp khác nơi bạn và giúp bạn tự tin khi bước
								đi, khi trò chuyện và gặp gỡ với những người khác.</li>
							<li>4. Thời trang là một niềm vui Mỗi người đều có nhiều
								niềm vui khác nhau và thời trang là một trong số ấy. Thời trang
								giúp bạn hóa thân thành những nhân vật khác nhau thông qua những
								trang phục tạo dáng. Bạn có bao giờ bất ngờ không nhận ra được
								mình ở trong gương chỉ vì bạn đã thay đổi một kiểu tóc thời
								trang hay bạn đã chọn cho mình một chiếc đầm gợi cảm hơn. Cảm
								giác vui ngắn ngủi ấy cũng giúp bạn giảm được rất nhiều căng
								thẳng, lo âu của một ngày và giải thoát mình khỏi những nỗi
								buồn, những thất vọng đấy! Bạn hãy thử xem nhé!</li>

						</form>
						<br>
					</div>
				</div>
			</article>
		</div>
	</main>
</body>
</html>