<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{/layout/index :: dynamic(~{::main})}">
<body>
	<main>
			<div class="container">
			<article class="col-sm-9">
				<section class="login-block">
					<div class="panel panel-default">

						<div class="panel-heading">
							<div class="panel-title">
								<span class="glyphicon glyphicon-edit"></span> Góp ý
							</div>
						</div>

						<div class="panel-footer">
							<div class="row">
								<div class="form-group col-sm-12">
									<h3>
										<strong>Gửi yêu cầu/góp ý kiến</strong>
									</h3>
									<br>
									<div class="form-group">
										<label for="usr">Họ và tên:</label> <input type="text"
											class="form-control" required>
									</div>
									<div class="form-group">
										<label for="pwd">Email:</label> <input type="email"
											class="form-control" required>
									</div>
									<div class="form-group">
										<label for="pwd">Số điện thoại:</label> <input type="text"
											class="form-control" required>
									</div>
									<label>Góp ý</label>
									<textarea rows="3" class="form-control" required></textarea>
									<br>
									<button class="btn-login">
										<span class="glyphicon glyphicon-floppy-save"></span> Gửi
									</button>
									<button class="btn-login">
										<span class="glyphicon glyphicon-floppy-remove"></span> Hủy
									</button>
								</div>
							</div>
						</div>

						<div class="panel-footer">Vui lòng nhập đầy đủ thông tin</div>
					</div>

				</section>
			</article>


		</div>
	</main>
</body>
</html>