<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{/layout/index :: dynamic(~{::main})}">
<body>
	<main>
		<div class="panel panel-default">
			<div class="panel-heading">
				<div class="panel-title">
					<span class="glyphicon glyphicon-edit"></span> Một số câu hỏi
					thường gặp về thời trang
				</div>
			</div>
			<div class="panel-group" id="accordion">
				<div class="panel panel-default">
					<div class="panel-heading">
						<h4 class="panel-title">
							<a data-toggle="collapse" data-parent="#accordion"
								href="#collapse1">Q: Làm thế nào để đăng ký tài khoản trên
								shop?</a>
						</h4>
					</div>
					<div id="collapse1" class="panel-collapse collapse in">
						<div class="panel-body">A: Quý khách có thể tạo tài khoản
							tại website shop bằng cách di chuyển tới góc trái đỉnh đầu trang
							chủ. Bấm vào nút “Đăng ký” và điền đầy đủ thông tin theo yêu cầu.</div>

					</div>
				</div>
				<div class="panel panel-default">
					<div class="panel-heading">
						<h4 class="panel-title">
							<a data-toggle="collapse" data-parent="#accordion"
								href="#collapse2">Q: Tôi không đăng ký có mua được hàng
								không?</a>
						</h4>
					</div>
					<div id="collapse2" class="panel-collapse collapse">
						<div class="panel-body">A: Quý khách vẫn có thể mua hàng mà
							không cần đăng ký/đăng nhập, nhưng nếu quý khách đăng ký/đăng
							nhập thì sẽ nhận được nhiều thông tin khuyến mãi (nếu có) để
							thuận tiện cho việc mua sắm hơn.</div>

					</div>
				</div>
				<div class="panel panel-default">
					<div class="panel-heading">
						<h4 class="panel-title">
							<a data-toggle="collapse" data-parent="#accordion"
								href="#collapse3">Q:Làm thế nào để hủy đơn hàng đã đặt mua
								trên shop?</a>
						</h4>
					</div>
					<div id="collapse3" class="panel-collapse collapse">
						<div class="panel-body">A:Quý khách vui lòng liên hệ bộ phận
							chăm sóc khách hàng qua số điện thoại: 0907.02.65.64 hoặc email:
							v-sixtyfour@v-sixtyfour.com để được hỗ trợ.</div>

					</div>
				</div>
				<div class="panel panel-default">
					<div class="panel-heading">
						<h4 class="panel-title">
							<a data-toggle="collapse" data-parent="#accordion"
								href="#collapse4">Q:Sau khi nhận hàng, tôi muốn đổi mẫu khác
								có mất phí không?</a>
						</h4>
					</div>
					<div id="collapse4" class="panel-collapse collapse">
						<div class="panel-body">A:Sau khi nhân viên kỹ thuật lắp
							đặt, khách hàng kiểm tra và nghiệm thu. Nếu không hài lòng, Shop
							sẽ đổi mẫu hàng khác hoặc hoàn trả lại bằng tiền mặt. Tất cả đều
							không tính phí.</div>
					</div>
				</div>
				<div class="panel panel-default">
					<div class="panel-heading">
						<h4 class="panel-title">
							<a data-toggle="collapse" data-parent="#accordion"
								href="#collapse5">Q:Tôi cần làm gì khi gặp sự cố trên shop?</a>
						</h4>
					</div>
					<div id="collapse5" class="panel-collapse collapse">
						<div class="panel-body">A:Khi gặp các sự cố, quý khách vui
							lòng liên hệ bộ phận chăm sóc khách hàng qua số điện thoại:
							0907.02.65.64 hoặc email: v-sixtyfour@v-sixtyfour.com để được hỗ
							trợ. Với những câu hỏi, những thắc mắc có thể giải đáp ngay, Nhân
							viên CSKH của shop sẽ trả lời trực tiếp cho quý khách. Với
							những câu hỏi cần xác minh shop sẽ tiến hành làm việc trên
							nguyên tắc công bằng, đảm bảo lợi ích tối đa cho Quý khách và đưa
							đến khách câu trả lời/hướng giải quyết trong thời gian sớm nhất.</div>
					</div>
				</div>
				<div class="panel panel-default">
					<div class="panel-heading">
						<h4 class="panel-title">
							<a data-toggle="collapse" data-parent="#accordion"
								href="#collapse6">Q:Thời gian sử dụng có ngắn như giường gỗ
								công nghiệp không?</a>
						</h4>
					</div>
					<div id="collapse6" class="panel-collapse collapse">
						<div class="panel-body">A:Không. Giường gỗ tự nhiên có thời
							gian sử dụng lâu từ 12 – 15 năm hoặc lâu hơn nếu bảo quản tốt.
							Sản phẩm được làm từ gỗ tự nhiên, mộng, vai, vạt giường chắc chắn
							nên cho thời gian sử dụng lâu dài.</div>
					</div>
				</div>
			</div>
		</div>
	</main>
</body>
</html>