<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{/layout/index :: dynamic(~{::main})}">
<body>
	<main>
		<div class="container">
			<article class="col-sm-9">
				<div class="panel panel-default">
					<div class="panel-heading"
						style="background-color: blue; color: white;">
						<div class="panel-title">
							<span class="glyphicon glyphicon-edit"></span> Liên hệ
						</div>
					</div>
					<hr />
					<div class="panel-body">
						<form>
							<img alt="" src="/assets/images/1096.gif"
								style="width: 700px; height: 420px">
							<hr>
							CÔNG TY THỜI TRANG VÀ THIẾT BỊ Đức Tài Showroom 1 + Văn Phòng
							Kinh Doanh:<br> 305E Đường Nguyễn Văn Linh , p.An Khánh,
							Q.Ninh Kiều,TP Cần Thơ<br> Mở Cửa: Từ 8h sáng đến 20h30
							Hotline: 0828937654 <br>
							Email:nguyenductai14042001@gmail.com <br> Website:
							thoitrangvathietbiductai.com <br> Facebook: CÔNG TY THỜI
							TRANG VÀ THIẾT BỊ Đức Tài <br> Với địa chỉ nằm ngay trên
							đường Nguyễn Văn Linh, CÔNG TY THỜI TRANG VÀ THIẾT BỊ Đức Tài thu
							hút được nhiều khách hàng đến đây. Không chỉ bởi địa chỉ thuận
							lợi, mà quần áo tại shop cực kì gây nghiện. Với phong cách độc –
							lạ – đẹp, khách đặt rất nhiều niềm tin vào cửa hàng này. Ngoài
							ra, shop còn cung cấp các phụ kiện đi kèm dễ thương như
							scunchies, túi, giày…
						</form>
						<br>
					</div>
				</div>
			</article>

			<img alt="" src="/assets/images/bando1.jpg"
				style="width: 900px; height: 500px">
		</div>
	</main>
</body>
</html>