<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{/layout/index :: dynamic(~{::main})}">
<body>
	<main>
		<div class="container">
			<article class="col-sm-9">
				<section class="login-block">
					<div class="h">
						<div class="panel panel-default">
							<div class="panel-heading">
								<div class="panel-title">
									<span class="glyphicon glyphicon-edit"></span> Quên mật khẩu
								</div>
							</div>
							<div class="panel-body">
								<div class="row">
									<div class="form-group col-sm-6">
										<label>Tên đăng nhập</label> <input class="form-control"
											ng-model="form.username">
									</div>
									<div class="form-group col-sm-6">
										<label>Email của bạn</label> <input class="form-control"
											type="email" ng-model="form.email" required>
									</div>
									<div class="form-group col-sm-6" ng-show="kiemtra">
										<label>Mật khẩu mới :</label> <input class="form-control"
											type="password" required ng-model="form.newPass">
									</div>
									<div class="form-group col-sm-6" ng-show="kiemtra">
										<label>Xác nhận mật khẩu mới:</label> <input class="form-control"
											type="password" ng-model="form.confirm" required>
									</div>
								</div>
								<div>
									<div class="row">
										<div class="form-group col-sm-12">
											<br>
											<button class="btn btn-login" ng-click="quenmk()" ng-show="nut">
												<span class="glyphicon glyphicon-retweet"></span> Xác nhận
											</button>
											<button class="btn btn-login" ng-click="check()" ng-show="!nut">
												<span class="glyphicon glyphicon-retweet"></span> Check
											</button>

											<button class="btn btn-login">
												<span class="glyphicon glyphicon-floppy-remove"></span> Hủy
											</button>
										</div>
									</div>
								</div>
							</div>
							
						</div>
					</div>
				</section>
			</article>
		</div>
	</main>
</body>
</html>